<h1>Welcome to Cage Wars!</h1>
<h2>Give us your names!!</h2>
<form action="/names" method="post" >
    <label for="player_1_name">
      First Warrior name
    <input type="text" name="player_1_name">
  </label>
  <label for="player_1_name">
      Second Warrior name
  <input type="text" name="player_2_name">
</label>
    <input type="submit" value="Submit">
</form>
